<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Voter Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/voter-form.css" type="text/css"/>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
      <%  include ./partials/_header %>
    <div class="title">
    <h1></h1>
  </div>
    <div>
      <header>
       <h3><%= title %></h3>
      </header>
    </div>
        <form style="flex-wrap: wrap" class=".vote" method="POST" action="/polls/<%=poll_options[0].poll_id%>/vote">

      <div id="formInput">
        <!-- Name -->
        <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Your name" name="user_name">
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" name="user_email">
      </div>
        <!-- Name: <input type="text" name="user_name"/> -->
        <!-- Email: <input type="text" name="user_email"/> -->


        <p></p>
        <input type="hidden" name="poll_id" value="<%=poll_options[0].poll_id%>">
        <div class="vote">
        <div>
        <table class="one" style="display:flexbox">
          <tbody>
        <% for (key of poll_options) { %>
          <% let id= key.name.split(" ").join('') %>
          <td class="ui-widget-content" id="draggable"><%=key.name%></td>
          <input type="hidden" name="ranks[<%=key.id %>][id]" value="<%=key.id%>">
          <input id="<%=id%>"" type="hidden" name="ranks[<%=key.id %>][rank]" value="0"> <!--need to set value equal to rank-->
           <% }; %>
        </tbody>
        </table>
      </div>
      <div id="voteButton">
        <button type="submit" style="font-family: 'Skranji', cursive; font-weight: 400" class="btn btn-outline-dark">Vote</button>
      </div>
      </form>
    </div>
        <br>


    <div class="rankTable">
        <li id="droppable"class="droptrue ui-sortable">
        </li>
    </div>
    <div id="div-reset">
      <button id="reset" type="submit" style="font-family: 'Skranji', cursive; font-weight: 400" class="btn btn-outline-dark">Reset</button>
    </div>
        </div>
    </div>
  </div>
</body>
</html>


























