<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Voter Form</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/voter-form.css" type="text/css"/>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    
  </head>
  <body>
    <h1>Voter Form</h1>
    <div>
      <header>
       <h3>Please Cast Your Vote!</h3>
      </header>
      <div>
        <form style="flex-wrap: wrap" class=".vote" method="POST" action="/polls/<%=poll_options[0].poll_id%>/vote">
        Name: <input type="text" name="user_name"/>
        Email: <input type="text" name="user_email"/>
      </form>
        <p>Rank your choices below:</p>
        <table class="one" style="display:flexbox">
          <tbody>
        <% for (key of poll_options) { %>
          <td class="ui-widget-content" id="draggable"><%=key.name%></td>
          <input type="hidden" name="poll_id" value="<%=poll_options[0].poll_id%>">
          <input type="hidden" name="ranks[<%=key.id %>][id]" value="<%=key.id%>">
          <% }; %>
        </tbody>
        </table>
        <!-- <input type="text" name="ranks[<%=key.id %>][rank]"> -->
        <br>
        <button>Vote</button>
        <button id="reset">Reset</button>
       
        <ul id="droppable"class="droptrue ui-sortable">
        </ul>
    
        </div>
    </div>
  </div>
</body>
</html>
         
          
            
         
        
              
             
           
              
            
              
                
                
                
                
                
                
                
              
                
                
                           
                
                   
            
        


